body {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #6B9080;
    overflow-x: hidden;
    position: relative;
}

html {
    overflow-x: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin: 5px 40px 0px 0px;
}

img {
    padding-left: 10px;
}

/* Base styles for the button */
.defaultButton {
    margin: 10px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #597066;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Hover effect */
.defaultButton:hover {
    background-color: #91a89e;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Active/focus effect */
.defaultButton:active,
.defaultButton:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Disabled state */
.defaultButton:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

input[type=number] {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0%;
    text-align: center;
}

select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    font-size: .85rem;
    padding: 0.675em 2em 0.675em 1em;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    color: #000;
    cursor: pointer;
}

#questions {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
}

#button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 80%;
    margin: auto;
}

.smallPlates{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.largePlates{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.largePlates button {
    background-color: transparent;
    border: none;
}

.smallPlates button {
    background-color: transparent;
    border: none;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:white;
    height: 1px;
    margin-bottom: 10px;
  }